.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    cursor: pointer;
    color: white;
}

.nav-button {
    background-color: #66bfc7;
    margin: 10px 0 0 10px;
    border: none;
    border-radius: 1em;
    font-size: 16px;
    color: white;
    padding: 16px;
}

.nav-button:hover {
    background-color: #FFBC81;
}

.nav-button p {
    padding: 0 10px;
}